<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/images/h1.jpg">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/plugins/testimonial/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/plugins/testimonial/css/owl.theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
<!--xx-->
    </head>

<body>

<!-- This is the header fragment -->
<div th:fragment="footer">
    <footer>
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 foot-about">
                        <h4>MELLIFERA</h4>

                        <p>© Mellifera - сайт за безплатни обяви.
                            Използването на Mellifera или публикуването на обява в сайта означава съгласие с Общи условия за ползване на Mellifera</p>

                        <ul>
                            <li>7780 Попово,България</li>
                            <li>melifera_bg@mail.com</li>
                            <li>+359 0897758062</li>
                        </ul>
                    </div>


                    <div class="col-md-3 foot-news">
                        <h4>Последвайте ни  </h4>


                        <ul>
                            <li><i class="bi bi-facebook"></i></li>
                            <li><i class="bi bi-twitter"></i></li>
                            <li><i class="bi bi-instagram"></i></li>
                            <li><i class="bi bi-linkedin"></i></li>
                            <li><i class="bi bi-pinterest"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </footer>

</div>

<!-- This is the main content of the page -->



</body>
<script src="../../static/js/jquery-3.2.1.min.js"></script>

<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<script src="../../static/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="../../static/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="../../static/js/script.js"></script>
</html>
